<div class="col-md-4 offset-md-2">
    <div class="card">
        <div class="card-body">
            <form>
                <div class="form-group">
                    <input type="text" name="title" [(ngModel)]="dna.string" placeholder="string" class="form-control" autofocus>
                </div>
                <button class="btn btn-success btn-block" (click)="saveNewDna()">
                    Save
                </button>
            </form>
        </div>
    </div>
</div>

<div class="col-md-4">
    <div class="card card-body text-center">
        <h3> {{ dna.string == '' ? 'Dna string': dna.string}}</h3>
    </div>
</div>
